@import "../../scss/variables";

.app {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  &__container {
    width: 90%;
    height: 90%;
    color: $default_white_font;
    border-radius: 3rem;
    background-color: $default_black_background;
    display: grid;
    grid-template-columns: 1fr 2.5fr;
  }
}
